[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabulate = "==0.8.9"
uniplot = "==0.5.0"
matplotlib = "==3.5.1"
plotly = "==5.6.0"
pandas = "==1.4.2"
termgraph = "==0.5.3"
plotext = "==4.2.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
tabulate = "python tabulate_example.py"
uniplot = "python uniplot_example.py"
termgraph = "python termgraph_example.py"
matplotlib = "python matplotlib_example.py"
plotly = "python plotly_example.py"
plotext = "python plotext_example.py"
